@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
font-family: "Montserrat", sans-serif;
}

/* Tilt.js Card  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}



.tilt {
	border-radius: 5px;
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
	transform-style: preserve-3d;

	transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
	&:hover {
		box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.5);
	}
}



.bg-two {
	background: linear-gradient(45deg, rgb(255, 95, 75), rgb(130, 21, 100));
}
